.userLink {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    height: 20px;
    padding: 0 6px 0 0;
  }
  
  @media all and (min-width: 1024px) {
    .userLink {
      padding: 0 0 0 5px;
    }
  }
  
  @media all and (min-width: 1540px) {
    .userLink:hover a {
      text-decoration: underline;
    }
  }