.metaData {
    display: flex;
    flex-flow: row nowrap;
    margin-right: 10px;
    align-items: center;
    font-size: 10px;
    line-height: 12px;
    
  }

  .createdAt, .createdAt span {
    color: var(--grey99);
  }

  .publishedLabel {
    display: none;
  }
  
 
  
  @media all and (min-width: 1024px) {
    .metaData {
      flex-flow: row-reverse nowrap;
      justify-content: flex-end;
      margin-right: 0;
      font-size: 14px;
      line-height: 16px;
    }
  
    .publishedLabel {
      display: inline;
    }
  }
